@keyframes welcomeAnimIn {
    from { bottom: 0; color: rgba(255, 255, 255, 0.0); }
    to { bottom: calc(50% - 41px); color: rgba(255, 255, 255, 0.6); }
}

@keyframes welcomeAnimOut {
    from { bottom: calc(50% - 41px); color: rgba(255, 255, 255, 0.6); }
    to { bottom: 100%; color: rgba(255, 255, 255, 0.0); }
}

@keyframes welcomeTxt {
    0% { color: rgba(255, 255, 255, 0.6); }
    50% { color: rgba(255, 255, 255, 0.9); }
    100% { color: rgba(255, 255, 255, 0.6); }
}

@keyframes showContent {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes collapse-list {
    from {width: 202px; }
    to { width: 43px; }
}
@keyframes show-list {
    from { width: 43px; }
    to { width: 202px; }
}